@font-face {
    font-family: 'myriad-pro-light';
    src: url(../fnt/MyriadPro-Light.otf);
}
@font-face {
    font-family: 'myriad-pro-regular';
    src: url(../fnt/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'myriad-pro-bold';
    src: url(../fnt/MyriadPro-Bold.otf);
}

body {
  text-align:left;
  background-color: #FBFBFB;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left:15px;
}

a:link, a:visited {
  color:#000;
  text-decoration:none;
  font-family:monospace;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
}

a:hover, a:active {
  color:#000;
  text-decoration:underline;
  font-family:monospace;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
}

#wrap {
  width:900px;
  float:left;
  margin-left:80px;
  padding:0;
}

#itr-nav {
  height:30px;
  width:100%;
}

#prev-nav {
  float:left;
}

#next-nav {
  float:right;
}

#main {
  float:right;
  padding-left:10px;
  width:700px;
  font-size:14px;
}

#title {
  width:100%;
  height:50px;
  font-size:18px;
  font-weight:900;
  margin:0;
}

#code {
  font-family:monospace;
}

#main-text {
  width:100%;
  float:left;
}

#main-pic {
  float:right;
  padding-left:5px;
}

#top-bar {
  padding-top:30px;
  height:40px;
}

#top-desc {
  height:20px;
  font-size:14px;
  padding-top:15px;
  color: #AAA;
}

#left-top {
  margin-top:70px;
  height:40px;
  font-size:14px;
  font-weight:900;
}

#left-sidebar {
  width:190px;
  margin-top:10px;
  float:left;
}

#left-nav ul {
  font-size:14px;
  list-style: none;
  margin:0px;
  padding-left:10px;
}

#left-nav li {
  margin:0px;
  font-size:14px;
  height:29px;
  text-decoration:none;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
}

#left-nav li a {
  color:#888; display:block; /*font-family: "ff-basic-gothic-sc-web-pro-1","ff-basic-gothic-sc-web-pro-2",sans-serif;*/ margin:0px; height:28px; text-decoration: none; font-weight:300; font-size:14px; border-top:1px solid #eee;
}

#left-nav li a p {
  margin:0px;
  padding-left:10px; padding-top:9px;
}

#left-nav li.selected a {
  color:#000 !important; background-color: #fff !important; border-top:1px solid #eee;
}

#left-nav li.last a {
  border-bottom:1px solid #eee; height:29px;
}

#left-nav li a:hover {
  background-color: #FFF;
  color:#444; display:block; margin:0px; border-bottom:1px solid #eee;
}
