@font-face {
    font-family: 'myriad-pro-light';
    src: url(../fnt/MyriadPro-Light.otf);
}
@font-face {
    font-family: 'myriad-pro-regular';
    src: url(../fnt/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'myriad-pro-bold';
    src: url(../fnt/MyriadPro-Bold.otf);
}

body {
  text-align:left;
  background-color: #F8F8F8;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
  font-weight:100;
}

h3 {
  font-size:18px;
  line-height:20px;
}

ul {
  list-style: none;
  padding-left:15px;
}

a:link {
  color:#4af;
  text-decoration:none;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
  font-weight:100;
}

a:visited {
  color:#999;
}

a:hover, a:active {
  color:#4af;
  text-decoration:underline;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
  font-weight:100;
}

#browse {
  margin-top:10px;
  width:640px;
}

#browse .browse-section {
  width:300px;
  border-top:1px solid #bbb;
  padding-top:5px;
  padding-left:5px;
  padding-bottom:10px;
  margin-right:10px;
  height:140px;
  float:left;
  position:relative;
}

#browse .last {
  border-bottom:1px solid #bbb;
}

.browse-section:hover {
  background-color:#fff;
}

.browse-about {
  position:absolute;
  bottom:4px;
  left:150px;
}

#browse img {
  float:left;
  margin-right:5px;
}

.browse-section h3 {
  line-height:25px;
  padding-top:0px;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:0px;
  font-weight:100;
}

#browse-section a:visited {
  color:#999;
}

#browse-section a:link {
  color:#4af;
  text-decoration:none;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
  font-weight:100;
}

#browse-section a:hover {
  text-decoration:underline;
}

#wrap {
  width:770px;
  float:left;
  margin-left:80px;
  padding:0;
}

#itr-nav {
  height:30px;
  width:100%;
}

#prev-nav {
  float:left;
}

#next-nav {
  float:right;
}

#main {
  float:right;
  width:620px;
  font-size:12px;
}

pre {
  font-size:10px;
}

#main-text {
  float:left;
  width:400px;
  margin-top:10px;
}

#wide-text {
  float:left;
  width:750px;
  margin-top:10px;
}

#poem-text {
  float:left;
  width:470px;
  margin-top:10px;
}

#main-left {
  float:left;
  width:200px;
}

#main-right {
  float:right;
  width:200px;
}

#top-bar {
  padding-top:30px;
  height:40px;
}

#top-desc {
  height:20px;
  font-size:12px;
  padding-top:15px;
  color: #AAA;
}

#left-top {
  margin-top:70px;
  height:40px;
  font-size:14px;
  font-weight:100;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
}

#left-sidebar {
  width:130px;
  margin-top:10px;
  float:left;
}

#left-nav ul {
  font-size:14px;
  list-style: none;
  margin:0px;
  padding-left:10px;
}

#left-nav li {
  margin:0px;
  height:29px;
  text-decoration:none;
  font-family:myriad-pro-light, Helvetica, Arial, sans-serif;
  font-weight:100;
}

#left-nav li a {
  color:#888; display:block; /*font-family: "ff-basic-gothic-sc-web-pro-1","ff-basic-gothic-sc-web-pro-2",sans-serif;*/ margin:0px; height:28px; text-decoration: none; font-weight:300; font-size:14px; border-top:1px solid #eee;
}

#left-nav li a p {
  margin:0px;
  padding-left:10px; padding-top:9px;
}

#left-nav li.selected a {
  color:#000 !important; background-color: #fff !important; border-top:1px solid #eee;
}

#left-nav li.last a {
  border-bottom:1px solid #eee; height:29px;
}

#left-nav li a:hover {
  background-color: #FFF;
  color:#444; display:block; margin:0px; border-bottom:1px solid #eee;
}
