
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

ul {
  list-style: none; }

/**
 * Basic styling
 */
body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  background-color: #212121;
  -webkit-text-size-adjust: 100%; }

.synth {
  background-color: #212121 !important; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #FF9100;
  text-decoration: none; }
  a:visited {
    color: #ffa024; }
  a:hover {
    text-decoration: underline; !important}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #424242;
  border-radius: 3px;
  background-color: #223; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Small Wrapper
 */
.small-wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 820px) {
    .small-wrapper {
      max-width: -webkit-calc(100% - (30px));
      max-width: calc(100% - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(100% - (30px * 2));
  max-width: calc(100% - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 820px) {
    .wrapper {
      max-width: -webkit-calc(100% - (30px));
      max-width: calc(100% - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Browse Wrapper
 */
.browse-wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0; }

/**
 * Clearfix
 */
.small-wrapper:after, .wrapper:after, .browse-wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header-pusher {
  height: 80px;
  z-index: 0;
  width: 100%;
  position: relative; }

.site-header {
  min-height: 80px;
  width: 100%;
  background-color: #212121;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  top: 0; }

.synth-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  opacity: 0.8;
  min-height: 64px;
  position: relative; }

.site-title {
  font-size: 28px;
  line-height: 80px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fff !important; }

.site-nav {
  float: right;
  line-height: 80px;
  z-index: 2; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #fff !important;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }

.synth-nav {
  float: right;
  z-index: 1;
  height: 64px; }
  .synth-nav .menu-icon {
    display: none; }
  .synth-nav .page-link {
    line-height: 58px;
    font-size: 16px;
    text-shadow: 0px 2px 2px #000000;
    margin-top: 40px;
    color: #9999aa; }
    .synth-nav .page-link:not(:first-child) {
      margin-left: 40px; }
  .synth-nav .page-link:hover {
    color: #FFC400;
  }
  .synth-nav .donate-button-form {
    display: inline-block;
    line-height: 1.5;
    margin-top: 14px;
    margin-right: 20px; }
    .synth-nav .donate-button-form:not(:first-child) {
      margin-left: 40px; }
    @media only screen and (max-width: 450px) {
      .synth-nav .donate-button-form {
        margin-top: 0; } }
  .synth-nav .donate-button-form input {
    box-shadow: 0px 1px 5px black;
    border-radius: 10px; }
  .synth-nav .donate-button {
    height: 26px; }

/**
 * Site footer
 */
.site-footer {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: 0; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2)); }

.footer-col-2 {
  float: right;
  text-align: right;
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2)); }

/**
 * Page content
 */
.page-content img {
  max-width: 85%; }

.synth .page-content {
  padding: 0 !important; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 820px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 820px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 820px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 820px) {
      .post-content h4 {
        font-size: 18px; } }

/*
 * Browse Cells
 */
.browse {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

.info {
  font-size: 20px;
  color: #aaa;
  padding-top: 10px; }

.browse .video-cell {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 5px;
  overflow: hidden; }

.browse .browse-section {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.browse .browse-text a {
  color: #fff !important; }

.browse .browse-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  vertical-align: middle;
  padding-top: 50px;
  margin-right: 5%;
  right: 0;
  top: 0;
  width: 320px;
  text-align: left;
  font-size: 20px;
  color: #fff !important;
  opacity: 0;
  transition: opacity 0.6s; }
  @media only screen and (max-width: 1000px) {
    .browse .browse-text {
      font-size: 16px;
      padding-top: 20px;
      width: 240px; } }
  @media only screen and (max-width: 600px) {
    .browse .browse-text {
      font-size: 10px;
      padding-top: 5px;
      width: 160px;
      margin-right: 5px; } }

.row:hover .browse-text {
  opacity: 1.0; }

.browse .row-container {
  height: 320px; }
  @media only screen and (max-width: 1000px) {
    .browse .row-container {
      height: 200px; } }
  @media only screen and (max-width: 600px) {
    .browse .row-container {
      height: 100px; } }

.browse .row {
  height: 320px;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 3;
  transition: background-color 0.25s; }
  @media only screen and (max-width: 1000px) {
    .browse .row {
      height: 200px; } }
  @media only screen and (max-width: 600px) {
    .browse .row {
      height: 100px; } }

.browse .row.sticky {
  position: fixed;
  top: 0; }

.browse .row1 {
  background-color: #80b6d8; }

.browse .row1:hover {
  background-color: #364a56; }

.browse .row2 {
  background-color: #829cd8; }

.browse .row2:hover {
  background-color: #374157; }

.browse .row3 {
  background-color: #8488d8; }

.browse .row3:hover {
  background-color: #383a58; }

.browse .row4 {
  background-color: #9b87d7; }

.browse .row4:hover {
  background-color: #423a58; }

.browse .row5 {
  background-color: #b48ad8; }

.browse .row5:hover {
  background-color: #4c3c5a; }

.browse .row6 {
  background-color: #cc8dd7; }

.browse .row6:hover {
  background-color: #563e5a; }

.browse .row7 {
  background-color: #d78dd3; }

.browse .row7:hover {
  background-color: #5a3e58; }

.browse .row8 {
  background-color: #d88ab2; }

.browse .row8:hover {
  background-color: #5a3c4b; }

.browse .row9 {
  background-color: #d78d9d; }

.browse .row9:hover {
  background-color: #5a3e44; }

.browse h2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 32px;
  color: #fff; }

.browse .browse-section h2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 32px;
  color: #fff; }
  @media only screen and (max-width: 1000px) {
    .browse .browse-section h2 {
      font-size: 24px;
      padding-bottom: 8px; } }
  @media only screen and (max-width: 600px) {
    .browse .browse-section h2 {
      font-size: 16px;
      padding-bottom: 3px; } }

.browse .browse-section a:hover {
  color: #fff; }

.browse img {
  display: block;
  height: 100%;
  max-width: none; }

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1; }

#helm-icon {
  display: inline-block;
  margin: auto;
  padding-top: 25px;
  vertical-align: top;
  box-shadow: 0px 0px 0px #000 !important; }

#helm-logo {
  display: inline-block;
  margin: auto;
  vertical-align: top;
  width: 256px;
  height: 256px;
  box-shadow: 0px 0px 0px #000 !important; }

.money-sign {
  width: 10px;
  height: 16px;
  margin: 0;
  padding: 0;
  text-align: right;
  float: left;
  display: inline;
  font-size: 16px;
  margin-left: 5px; }

#donation-display {
  height: 40px;
  width: 52px;
  font-size: 18px;
  background-color: #242424;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  margin-top: 23px;
  float: left;
  display: inline-block;
  padding-left: 4px;
  color: #bbb; }

#donation-display::placeholder {
  color: #666; }

#donation-display.text-selected {
  width: 50px;
  padding-left: 2px;
  border-color: #FFAB00;
  border-width: 3px;
  height: 36px; }

.pay-amount-button {
  width: 59px;
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  display: inline-block;
  font-weight: thin;
  font-size: 18px;
  text-align: center;
  margin-top: 23px;
  border-width: 1px;
  border-color: #555;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer; }

.amount-pressed {
  color: white;
  background-color: #FFAB00; }

.amount-pressed:hover {
  background-color: #FFBB10; }

.amount-not-pressed {
  color: #bbb;
  background-color: #333; }

.amount-not-pressed:hover {
  background-color: #444; }

.pity-button {
  height: 35px;
  width: 130px;
  margin-right: 30px;
  color: white;
  float: right;
  display: inline-block;
  font-weight: thin;
  font-size: 18px;
  text-align: center;
  margin-top: 23px;
  background-color: #FFAB00;
  border-width: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

#nopay-button, #contribute-button {
  height: 50px;
  width: 193px;
  color: white;
  float: right;
  display: inline-block;
  font-weight: thin;
  font-size: 18px;
  text-align: center;
  margin-top: 23px;
  background-color: #03a9f4;
  border-width: 0px;
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

#nopay-button {
  display: none; }

#nopay-button p {
  padding-top: 12px; }

#nopay-button:hover, #contribute-button:hover, .pity-button:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  background-color: #13b9ff; }

#donation-info {
  clear: left;
  margin-left: 0px;
  margin-top: 10px;
  padding-right: 6px;
  text-align: right;
  font-size: 16px;
  float: left;
  display: inline-block;
  width: 155px; }

#slider-section {
  width: 325px;
  visibility: hidden;
  display: none; }

#payment-section {
  width: 325px;
  visibility: hidden;
  display: none; }

#pity-section {
  width: 325px;
  visibility: hidden;
  display: none;
  margin-left: 16px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: #ccd !important; }

.donation-form {
  width: 100%;
  margin-top: 0px; }

.donation-slider {
  font-size: 14px;
  width: 215px; }

#slider {
  float: left;
  width: 100%;
  margin-top: 35px; }

.donation-number {
  float: left;
  text-align: left; }

.donation-slider .ui-slider-range {
  background: #2196F3;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px; }

.donation-slider .ui-widget-content {
  background: #333;
  border-color: #222;
  border-width: 2px; }

.download-button {
  width: 100%;
  color: white;
  font-weight: thin;
  font-size: 26px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #FFAB00;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.download-button:hover {
  text-decoration: none !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  background-color: #FFC400; }

.synth {
  background: #303030 url("/static/images/helm_screenshot_blurry.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #2196F3;
  text-align: center; }

.home a {
  text-decoration: none;}

.home a:hover {
  text-decoration: underline;}

::selection {
  background: #555;
}
::-moz-selection {
  background: #555;
}

.download-list {
  width: 360px !important;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center; }
  @media only screen and (max-width: 655px) {
    .download-list {
      width: 300px; } }

#downloads {
  min-width: 290px;
  width: 100%;
  float: left;
  margin: auto;
  margin-top: 15px; }
  @media only screen and (max-width: 655px) {
    #downloads {
      width: 300px; } }

.all-downloads-link {
  color: #FFAB00 !important; }

.all-downloads-link:hover {
  text-decoration: none !important;
  color: #FFC400 !important; }

.all-downloads {
  font-size: 16px;
  text-align: right;
  padding-right: 5px; }

.tagline {
  width: 360px;
  max-width: 100%;
  text-align: left;
  padding-top: 46px; }
  @media only screen and (max-width: 655px) {
    .tagline {
      width: 300px; } }

.os-download {
  width:400px;
  padding-top: 5px;
  margin-left: 100px;
  margin-top: -50px;
  height: 24px;
  color: white;
  font-weight: thin;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  background-color: #FFAB00;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.os-download:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  background-color: #FFC400; }

.sticker-order {
  max-width: 100%;
  max-width: 370px;
  display: inline-block;
  background-color: transparent;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.sticker-order p {
  width: 100%;
  color: #ddd; }

.synth h2 {
  color: #2196F3 !important; }

.sticker-description {
  max-width: 45%;
  overflow: auto;
  background-color: transparent;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  vertical-align: top; }

.sticker-description form {
  background-color: transparent; }

.faq-title {
  text-align: left; }

.faq {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: left !important; }

.faq-question {
  font-weight: bold !important;
  color: #2196F3; }

.faq-answer {
  color: #dddddd;
  margin-left: 10px;
  margin-bottom: 10px; }

.faq-answer p {
  padding: 0;
  margin: 0;
  padding-left: 20px; }

.sticker-form {
  width: 100%;
  background-color: transparent; }

.sticker-order-img {
  float: right;
  width: 100%;
  margin-bottom: 10px; }

.sticker-order-suggest {
  font-size: 18px !important;
  padding: 0;
  margin: 0;
  color: #FFAB00 !important;
  background-color: transparent;
  font-weight: 300;
  text-align: left;
  overflow: visible;
  display: inline;
  background-color: inherit;
  border: 0;
  cursor: pointer; }

.sticker-order-suggest:hover {
  color: #FFC400 !important; }

.sticker-order-text {
  font-size: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
  padding-left: 0px !important;
  color: #2196F3 !important;
  font-weight: 300;
  vertical-align: bottom;
  text-align: left;
  overflow: visible;
  font-size: 1em;
  display: inline;
  background-color: inherit;
  border: 0;
  cursor: pointer; }

#sticker-tooltip {
  width: 416px;
  height: 416px; }

#mc_embed_signup form {
  padding-left: 0px !important;
  padding-top: 0px !important;
  display: inline-block !important;
  text-align: left; }

#mc_embed_signup {
  vertical-align: top;
  max-width: 100%;
  max-width: 340px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px !important;
  display: inline-block !important;
  text-align: left;
  vertical-align: top; }

#mc_embed_signup_scroll {
  width: 310px;
  margin-right: 20px; }

#mc_embed_signup_scroll h2 {
  font-size: 20px !important;
  margin-top: 0 !important;
  margin-left: 0px !important;
  padding-left: 0px !important; }

/*
 * Page Descriptions
 */
.big-header {
  max-width: 360px;
  font-size: 22px;
  font-weight: 100;
  color: #FFD740;
  display: inline-block; }

#thanks {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3; }

#nothanks {
  margin-top: 0px;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3; }

#auto-download-info {
  margin-left: 16px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  color: #ccd; }

#auto-download-info form {
  background-color: transparent; }

.catch-phrase {
  display: inline-block; }
  @media only screen and (max-width: 655px) {
    .catch-phrase {
      font-size: 18px !important; } }

.faq-title .catch-phrase {
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px !important; }

.screenshot-section {
  margin: 30px 0px;
  width: 100%; }

.screenshot-section img {
  max-width: 992px;
}

.product-name {
  display: inline;
  font-weight: bold;
  font-size: 40px !important;
  margin-right: 20px;
  color: #2196F3; }
  @media only screen and (max-width: 655px) {
    .product-name {
      font-size: 32px !important; } }

.description {
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top; }

.description img {
  margin-right: 5px;
  margin-left: 10px;
  overflow: visible;
  box-shadow: 0px 0px 3px rgba(33, 33, 33, 0.7);
  float: right; }

.synth img {
  box-shadow: 0px 0px 3px rgba(33, 33, 33, 0.7);
  overflow: visible;
  border-radius: 5px; }

.division-bar {
  box-shadow: 0px 0px 5px black;
  margin: 0 -9999rem;
  margin-top: 30px;
  padding: 0.25rem 9999rem;
  background: #212121;
  overflow: auto;
  text-align: center;
  vertical-align: top; }

.binary-description {
  width:700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  text-align: left; }

.binary-description h3 {
  color:#fff;
}

.free-software-description {
  max-width: 100%;
  max-width: 340px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ddd;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  vertical-align: top; }

.full-video {
  box-shadow: 0px 0px 3px rgba(33, 33, 33, 0.7);
  border-radius: 5px;
  overflow: visible; }

.full-video {
  display: inline-block;
  position: relative; }

.video-cell iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container {
  width: 100%; }

.full-video iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
